{% for _userStatus in userStatus %}
    <tr>
        <td>{{ _userStatus.id }}</td>
        <td>{{ _userStatus.name }}</td>
        <td class="text-center">
            <div class="btn-group">
                <a href="{{ path('flexphp.user.user-status.read', {id: _userStatus.id}) }}" class="btn btn-sm btn-outline-light" title="{% trans from 'messages' %}action.read{% endtrans %}">
                    <i class="fa fa-eye text-dark" aria-hidden="true"></i>
                </a>

                <a href="{{ path('flexphp.user.user-status.edit', {id: _userStatus.id}) }}" class="btn btn-sm btn-outline-light" title="{% trans from 'messages' %}action.edit{% endtrans %}">
                    <i class="fa fa-edit text-info" aria-hidden="true"></i>
                </a>
            </div>
        </td>
    </tr>
{% endfor %}
